
<%= render 'header'%>
<div class="container">
<div class="post-preview">
        
        <h2 class="post-title">
         <%= @post.title %>
        </h2>
          <h3 class="post-subtitle">
            <%= @post.content %>
          </h3>
     
</div>





<p>


	<% if @post.author_id != nil %>
	Created by <%= @post.author.email %>

	<% else %>
	Created by Faker
	<% end %>
</p>

<% if can? :update, @post %>  
<%= link_to "Edit", edit_post_path(@post), {:class => 'btn btn-default'} %>  |
<%= link_to "Destroy", post_path(@post),  {:class => 'btn btn-danger',method: :delete}%>  
<% end %>  


<%#= link_to 'Edit', edit_post_path(@post) %> 
<%#= link_to 'Back', posts_path %>

<%= render 'disqus' %>

</div>